{
    "OpenWeatherMapAPIKey": "3bb1856e124e447904bc020c6ebc7924",
    "LincolnNELatLon" : {
        "Lat": 40,
        "Lon": -96
    },
    "PhotoStorageDirectory": "./public/landingPageCollage/",
    "NYTRssFeeds": [
        "https://rss.nytimes.com/services/xml/rss/nyt/Business.xml",
        "https://rss.nytimes.com/services/xml/rss/nyt/World.xml",
        "https://rss.nytimes.com/services/xml/rss/nyt/US.xml"
    ]
}