{
    "VisualCrossingWeatherURL": "https://weather.visualcrossing.com/VisualCrossingWebServices/rest/services/timeline/Lincoln%2C%20NE?unitGroup=us&include=current%2Cdays&key=VHHD6G35YZ6VVD976WCDCQ2HS&contentType=json",
    "LincolnNELatLon" : {
        "Lat": 40,
        "Lon": -96
    },
    "PhotoStorageDirectory": "./public/landingPageCollage/",
    "NYTRssFeeds": [
        "https://rss.nytimes.com/services/xml/rss/nyt/Business.xml",
        "https://rss.nytimes.com/services/xml/rss/nyt/World.xml",
        "https://rss.nytimes.com/services/xml/rss/nyt/US.xml"
    ],
    "YahooFinanceMarkets" : {
        "APIKey": "8eAfu8zQHK1Iyr61fgAiL2YNzEX7lwpZ1Kh5fQBr",
        "URLEndpoint": "https://yfapi.net/v6/finance/quote/marketSummary?lang=en&region=US"
    }
}